body {
  background: #efefbb;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  color: white;
  margin: 0;
  font-family: rubik;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 54px;
}

h2 {
  text-align: center;
}

.pokedex__forms {
  display: flex;
  justify-content: center;
}

.mensagem-erro {
  text-align: center;
  color: red;
}

button {
  background-color: rgb(239, 187, 230);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

input {
  padding: 10px;
  border: none;
  width: 212px;
  border-radius: 4px;
}

select {
  width: 120px;
  border-radius: 8px;
  padding: 10px;
}

.pokedex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-radius: 8px;
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
  color: #222;
}

.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
  text-align: center;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
  padding: 20px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Cores de fundo dos cards */
.steel {
  background-color: #f0aeae;
}

.dark {
  background-color: #8b8a8a;
}

.fire {
  background-color: #ee3b3b;
}

.grass {
  background-color: #44e64e;
}

.electric {
  background-color: #ecd041;
}

.water,
.ice {
  background-color: #71bfe4;
}

.ground {
  background-color: #be8e5e;
}

.rock {
  background-color: #636362;
}

.fairy {
  background-color: #eca9f8;
}

.poison {
  background-color: #24eb4c;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background-color: #c47c7c;
}

.psychic {
  background-color: #8d9124;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #e6e0d4;
}

.normal {
  background-color: #f5f5f5;
}
