body {
  background: #efefbb;
  background: linear-gradient(to right, #006466, #212F45, #312244, #006D77, #edf6f9);
  color: white;
  margin: 0;
  font-family: rubik;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 54px;
}

h2 {
  text-align: center;
}

.pokedex__forms {
  display: flex;
  justify-content: center;
}

.mensagem-erro {
  text-align: center;
  color: red;
}

button {
  background-color:#413cd3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

input {
  padding: 10px;
  border: none;
  width: 212px;
  border-radius: 4px;
}

select {
  width: 120px;
  border-radius: 8px;
  padding: 10px;
}

.pokedex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-radius: 8px;
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card:after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #edf6f9;
  opacity: 0.7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
  color: rgb(3, 3, 3);
}

.card-subtitle {
  margin-top: 5px;
  color: rgb(3, 3, 3);
  font-weight: lighter;
  text-align: center;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
  padding: 20px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Cores de fundo dos cards */
.steel {
  background-color: #7400b8;
}

.dark {
  background-color: #212ddb;
}

.fire {
  background-color: #f78d37;
}

.grass {
  background-color: #9bebeb;
}

.electric {
  background-color: #4c4eeb;
}

.water,
.ice {
  background-color: #1ad5f1;
}

.ground {
  background-color: #31cf59;
}

.rock {
  background-color: #cc72ef;
}

.fairy {
  background-color: #dbd810;
}

.poison {
  background-color: #3286f3;
}

.bug {
  background-color: #98afec;
}

.dragon {
  background-color: #5d67f7;
}

.psychic {
  background-color: #be3390;
}

.flying {
  background-color: #96fc10;
}

.fighting {
  background-color: #07c3fc;
}

.normal {
  background-color: #f01dbb;
}